version: "3.8"

services:
  app:
    image: php:8.2-apache
    volumes:
      - ..:/workspace
    ports:
      - "8080:80"
    depends_on:
      - db
    command: >
      bash -c "docker-php-ext-install pdo pdo_mysql &&
               apache2-foreground"

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: php_blog
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
    ports:
      - "8081:80"

volumes:
  db_data:
